<h1> {{ titulo }} </h1>
<h2> {{ prueba }} </h2>
<button class = "btn btn-info" type="button"> [router link] = "['/app-tramites-tipos']" >Nuevo tipo de trámite</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Descripción</th>
      <th scope="col">Fecha de Registro</th>
      <th scope="col">Fecha de Modificación</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>116500977</td>
      <td>Trámite Municipal por pago de luz</td>
      <td>16/08/2015</td>
      <td>16/09/2020</td>
    </tr>
  </tbody>
</table>
